<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014087703295-h3tclgar7eb17s7m7c0ge5ntggomsmjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014087703295-h3tclgar7eb17s7m7c0ge5ntggomsmjn</string>
	<key>API_KEY</key>
	<string>AIzaSyB9nxg9-c50GLcXSSzFwzPXtLxUfIunB0E</string>
	<key>GCM_SENDER_ID</key>
	<string>1014087703295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cbl-mobile-sync-auth</string>
	<key>PROJECT_ID</key>
	<string>cbl-mobile-sync-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>cbl-mobile-sync-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014087703295:ios:71f6adc5856aed30bf4aca</string>
</dict>
</plist>